@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
