@each $color, $value in $colors {
    .#{$color} {
        color: $value;
    }
    .bg-#{$color} {
        background: $value;
    }
}

@for $i from 1 through 10 {
    .mt-#{$i} {
        margin-top: (10 * $i) + px !important;
    }
    .mb-#{$i} {
        margin-top: (10 * $i) + px !important;
    }
}
