html {
    font-size: 18px;
}

body {
    background: $gray-light url("https://www.toptal.com/designers/subtlepatterns/patterns/asanoha-400px.png") repeat scroll 0% 0%;
    font-size: $size;
}

.hide {
    display: none;
}

.relative {
    position: relative;
}

.padded {
    margin: 50px 0;
    padding: 40px 0;
}

@media (max-width: $breakpoint-mobile) {
    .hide-mobile {
        display: none;
    }
}

.row {
    margin: 30px 0;
}

.flex-center-vertical {
    align-items: center;
    display: flex;
}

.rounded {
    border-radius: 5px;
}
