@mixin dropdown-animation ($children-count, $duration-per-child) {
    li {
        opacity: 0;
    }
    @for $i from 1 through $children-count {
        li:nth-child(#{$i}) {
            animation: {
                delay: ($duration-per-child * $i) + 100 + ms;
                duration: $duration-per-child + ms;
                fill-mode: forwards;
                name: fadeInDown;
                timing-function: ease-in-out;
            }
            z-index: (100 - $i);
        }
    }
}
