h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.74rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    word-wrap: break-word;
    color: $blue-dark;

    &.light {
        color: $white;
    }
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.666rem;
    font-weight: 800;
    line-height: 3rem;
    &.light {
        color: $white;
    }
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.333;
    letter-spacing: 0.41rem;
    text-transform: uppercase;
    color: $blue-dark;
    margin: 5% 0;
    &.light {
        color: $white;
    }
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.333;
    font-weight: 800;
    letter-spacing: 0.19rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    &.light {
        color: $white;
    }
}

h5 {
    color: $blue-light;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0.23rem;
    line-height: 1.333rem;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 4%;

    &.section-title::after {
        background: $blue-light;
        bottom: -10px;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        width: 7.5%;
    }
}

p {
    margin-bottom: 2%;
}

p, div {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    line-height: 1.333rem;
    color: $black;
    &.introduction {
        letter-spacing: 0.23rem;
        line-height: 1.333rem;
        text-transform: uppercase;
        color: $blue-dark;
        margin-bottom: 5%;
    }
    
    &.subtitle {
        letter-spacing: 0.19rem;
        line-height: 1.1666rem;
        text-transform: uppercase;
        margin-bottom: 10%;
    }

    &.sm {
        letter-spacing: 0.23rem;
        line-height: 1.333rem;
        text-transform: uppercase;
    }

    &.xs {
        font-size: 0.8rem;
        line-height: 1rem;
        font-weight: 100;
        color: $gray-dark;
    }
}

.navbar__item {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
}
