// Root em (R.E.M)
$size: 18px;

// Colors
$orange: #e97300;
$blue-light: #365c8d;
$blue-dark: #203667;
$black: #000;
$white: #fff;
$gray-light: #f1f1f1;
$gray-dark: #d5d5d5;
$yellow: #f8a900;

//Shades
$blue-light__transparent: rgba(54, 92, 141, .5);
$colors: ( orange: $orange, blue-light: $blue-light, blue-dark: $blue-dark, blue: $blue-dark, black: $black, white: $white, gray-light: $gray-light, gray-dark: $gray-dark, yellow: $yellow);
$black__transp: rgba(0,0,0,.25);

// Breakpoints
$breakpoint-mobile: 576px;
