// Use this file for shameful sass code, you know, that !important stuff ;)

.header-image-text {
    margin-top: 300px;
}

@media(max-width: 500px) {
    .header-image-text {
        margin-top: 100px;
    }
}
