.about-header {
    background: $white;
    padding: 15% 5%;
    display: flex;
    align-item: center;
    figure {
        position: absolute;
        width: 35%;
        left: 10%;
        margin-top: -10%;
    }
}
