.call-to-action__hyve {
    z-index: -1;
    width: 200px;
    position: absolute;
}

.call-to-action__title {
    font-weight: 500;
    margin-left: 50px;
    margin-top: 80px;
}

.call-to-action__button {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
