div {
    &.contact-form {
        padding: 0 15%;
    }
}

.contact-form__content {
    display: flex;
    justify-items: center;

    &form {
        input {
            & .contact__form__input__field {
                height: 10%;
                
            }


        }
    }
}

.contact__form__input__submit {
    margin-top: 5%;
    height: 10% !important;
    width: 20%;
}
