div {
    &.contact-header {
        padding: 10% 15%;
        background-color: $white;
        ul {
            margin: 5% 0;
            li {
                margin: 4% 0;
                display: flex;
                img {
                    width: 3%;
                    margin-right: 2%;
                }
            }
        }
        figure {
            // margin-top: -300px;
            overflow: hidden;
            right: 2%;
            margin-top: -17%;
            & img {
                overflow: hidden;
                position: relative;
                max-width: 50vw;
            }
        }
    }
}
