.card {
    box-shadow: 2px 2px 3px $gray-light;
    margin: 4px 8px 4px 0;
    overflow: hidden;
    position: relative;
}

.card-top-image {
    left: -5px;
    position: absolute;
    right: -5px;
    top: 0;
    width: 105%;
}

.inner-card {
    height: 250px;
    margin: 60px 20px 20px;
    position: relative;
}

.featured-event-type {
    color: $gray-dark;
    font-size: 13px;
    letter-spacing: 2.5px;
    margin-bottom: 30px;
}

.featured-event-title {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .3px;
    line-height: 24px;
    text-overflow: ellipsis;
    text-transform: none;
}

.featured-event-meta {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
}

.featured-event-meta-data {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.featured-event-date-time {
    font-size: 14px;
    letter-spacing: 1px;
}
