.hive-and-text-title__container {
    position: relative;
}

.hive-and-text-title__text {
    font-size: 36px;
    letter-spacing: 7.5px;
    line-height: 42px;
    margin-top: 40px;
}

.hive-and-text-title__image {
    left: 0;
    max-width: 40vw;
    position: absolute;
    top: 0;
    width: 50%;
}

.hive-and-text-title__description {
    padding: 15% 0%;
}
