.icon-50 {
    width: 50px;
}

.groeien-category-text {
    color: $blue-dark;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3.5px;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
