.search {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    padding: .5% .75%;
    height: 7.5vh;
    position: sticky;

    .search__filter {
        display: flex;
        justify-items: end;
        align-items: center;
        flex-grow: 1;
        flex-flow: row;
        & .input {
            margin: 0 .5%;
            width: 100%;
            flex-grow: 1;
        }
    }
}

.news-search__tags.banner-news__info__tags {
    & ul {
        margin: 0;
    }
}

.opaque-backgr {
    background: $gray-light;
}
