div {
    .banner-courses {
        background-color: red;
        display: flex;
        align-content: center;
    }
    .banner-courses__item {
        background-color: $blue-light;
        border: .5rem $gray-light solid;
        height: 75vh;
        min-height: 300px;
        display: flex;
        align-items: flex-end;
        background-image: url("../img/home-banner.png");
        background-size: cover;
        background-blend-mode: screen;
        & .banner-courses__item__content {
            width: 75%;
            padding: 15% 5%;
        }
    }
}

.banner-article__content__icon {
    width: 10%;
	height: auto;
	margin-bottom: 3%;
}
