.banner-article {
    min-height: 75vh;
    background-image: url("../img/Images/daring.jpeg");
    background-size: cover;
    display: flex;
    align-items: flex-end;

    background-color: #999;
    background-blend-mode: multiply;
    
    & .banner-article__content {
        padding: 15% 20%;
    }
}
