@mixin button {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 0.70rem;
    letter-spacing: .16rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms ease;
}

.button {
    @include button;
    background: $orange;
    border: none;
    color: white;
    padding: .8% 3%;
}

.more-button__item {
    padding: .6vh;
}

.button-tickets {
    @include button;
    background: $white;
    border: solid 2px $orange;
    color: $orange;
    font-weight: 700;
    padding: 8px 20px;

    &:hover {
        background: $orange;
        border: solid 2px $orange;
        color: $white;
    }
}

.more-button {
    height: 5%;
    padding: 3% 0 4%;
}
