.news {
    flex-wrap: wrap;
    & .news__item {
        display: flex;
        flex-direction: column;
        background-image: url("../img/Images/daring.jpeg");
        background-color: #999;
        background-size: cover;
        background-blend-mode: multiply;
        text-decoration: none;
        font-weight: 100;
        padding-top: 20vh;
        border: .1rem $gray-light solid;
        width: 80%;
    }
}
