article {
    background: $gray-light;
    padding-bottom: 10%;
}

.content-article {
    background-color: $white;
    padding: 0%;

    &.container {
        padding: 0;
    }
    & .row {
        margin: 0;
        padding: 5% 10%;
        & ul {
            & li {
                text-decoration: none;
            }
        }
    }
}
