.contact-form {
    padding: 0 15%;
}

.contact-form__input {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    & input {
        height: 7vh;
        margin-bottom: 3vh;
        &.button {
            max-width: 20%;
            max-height: 5vh !important;
        }
    }
}

.contact__form__input__submit {
    margin-top: 5%;
    height: 10% !important;
    width: 20%;
}

.input {
    letter-spacing: 0.05rem;
    line-height: 1.1666rem;
    margin-bottom: 10%;
	font-size: 1rem;
	
	display: flex;
	border-radius: 1%;
    flex-grow: 1;
    padding: 1% 3%;
    align-self: center;
    justify-self: stretch;
    height: 60%;
    border: none;
}
