img {
    width: 100%;
    height: auto;
}

figure {
    &.hyve-left {
        position: absolute;
        left: 5%;
        width: 40%;
    }

    &.hyve-right {
        position: absolute;
        margin-top: 0;
        right: 2%;
        width: 50%;
        &.small {
            width: 40%;
            position: relative;
            right: 0;
        }
    }
}
