div {
    & .masterclass__event {
        background-color: $white;
        padding: 1%;
        & svg, img {
            width: 10%;
        }

        & div {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-items: center;
            & p {
                height: 100%;
            }
        }
    }
}
