div {
    &.banner-news {
        background-color: $white;
        padding: 5% 0%;
        overflow: hidden;
        &.subtitle{
            margin-bottom: 0;
        }
    }

    &.banner-news__info {
        padding: 10% 5%;
    }
}

.banner-news__image {
    background-image: url("../img/Images/daring.jpeg");
    background-size: cover;
    border: solid $white 1.5rem;
    border-right: none;
    border-left: none;
}
