.text-and-quote {
    padding: 5% 0;
}

.text-and-quote__content {
    & h3 {
        padding-bottom: 5%;
    }
}

.text-and-quote__quote {
    margin-top: 6rem;
}

.text-and-quote__quote__hyve {
    position: relative;
    width: 50%;
    margin-top: -15%;
    z-index: -1;

}

.text-and-quote__quote__text {
    postion: relative;
    top:10%;
    height: 10%;
    margin-left: 10%;
    margin-top: 50px;
    & h4 {
        margin-top: 100px;
        display:flex;
        justify-self: center;
        color: $orange;
        p {
            font-size: 0.75rem;
        }
    }
}
