.banner-news__info__tags {
    
    width: 100%;
        & ul {
            margin: 2% 0;
        }

        & li {
            display: inline;
                
            & a {
                text-decoration: none;
                background-color: $black__transp;
                position: relative;
                padding: .2% 2%;
                border-radius: 100px;

                font-size: 0.7rem;
                line-height: 1rem;
                font-weight: 100;
                color: $white;
                text-transform: uppercase;
            }
        }
}
