.copyright {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    a {
        color: inherit;
    }
}

.copyright-left {
    font-size: 14px;
}

.copyright-right {
    font-size: 14px;
    text-align: right;
}
