.home-intro {
    background: $white;
    position: relative;

    .container, .container * {
        position: relative;
        z-index: 100;
    }
}

.banner {
    background-color: #999;
    background-blend-mode: multiply;
}
@media (min-width: $breakpoint-mobile) {
    .home-intro__title {
        padding-top: 200px;
    }
}

.home-intro__subtitle {
    font-size: 18px;
    margin-top: 30px;
    padding-bottom: 50px;
}

.home-intro-image {
    position: absolute;
    width: 40vw;
    max-width: 600px;
    top: 0;
    right: 0;
    z-index: 10;
}

.home-intro__subblock {
    p {
        padding: 30px 0;
    }
}
