.navbar-container {
    background: $white;
    box-shadow: 1px 0 2px $gray-dark;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    padding: 4px;
    img {
        max-height: 80px;
        width: auto;
    }
}

.navbar__items {
    display: flex;
    align-items: center;

    // Fix anchor styling
    a {
        color: inherit;
        text-decoration: none;
    }
}

.navbar__dropdown {
    position: absolute;
    width: 220px;
    padding-top: 10px;

    // Show on hover
    display: none;
    visibility: hidden;
    &:hover {
        display: block;
        visibility: visible;
    }
}

.navbar__item {
    color: $blue-dark;
    padding: 6px 12px;
    transition: all 200ms ease !important;

    // Hover state
    &:hover {
        color: $orange;
        ::after {
            background: $orange !important;
        }
    }

    // Show dropdown on hover
    &:hover .navbar__dropdown {
        // @include dropdown-animation(10, 1000);
        animation: fadeIn 0.2s ease-in-out;
        display: block;
        visibility: visible;
    }

    // Indicate active menu item
    &.active {
        position: relative;
        ::after {
            background: $blue-dark;
            bottom: 2px;
            content: '';
            height: 1px;
            left: 12px;
            position: absolute;
            right: 12px;
        }
    }
}

.navbar__dropdown-item {
    padding: 12px 15px;
    background: $blue-dark;
    color: $white;
    transition: all 200ms ease;

    &:hover,
    &.active {
        background: $blue-light;
    }
}
